@import "objets";

/* Bouton de retour */
#btn-retour {
  position: absolute;
  height: calc(100% - 1rem);
  z-index: 0;

  transition: filter 500ms;

  & + .breadcrumb {
    position: relative;
    z-index: 1;

    transition: margin-left 500ms;
  }

  &.actif + .breadcrumb {
    margin-left: 3.5rem;
  }
}

/* Breadcrumbs */
@keyframes breadcrumb-appear {
    from {
        margin-left: calc(-100% - .5rem);
    }
    to {
        margin-left: 0;
    }
}
@keyframes breadcrumb-disappear {
    from {
        margin-left: 0;
    }
    to {
        margin-left: calc(-100% - .5rem);
    }
}

.breadcrumb-item {
  display: flex;

  transition: color 500ms;

  & > div {
    display: inline-block;
    overflow: hidden;
  }

  .text {
    animation: breadcrumb-appear 500ms 1;
  }

  &.removing .text {
    animation: breadcrumb-disappear 500ms 1;
  }
}

/* Zone fichiers */
#fichiers {
  display: flex;
  flex-wrap: wrap;

  margin-top: -.75rem;
  padding-right: 3px;
}

/* Outils */
#outils {
  width: 250px;

  .list-group-item {
    padding-left: 1rem;

    transition: color 250ms;

    &:disabled {
      color: #6c757d !important;
    }

    i {
        margin-right: .75rem;
    }
  }

  #btn-suppr-dossier {
    color: var(--danger);
  }
}