{% extends "navbar/base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'emperor/css/emperor.css' %}" />
{% endblock %}

{% block contenu %}
    <div class="container-fluid">
        <div class="row">
            <nav class="col" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Uwsgi Emperor</li>
                </ol>
            </nav>
        </div>
        <div class="row mb-3">
            <div class="col">
                <div class="card">
                    <div class="card-header card-header-toolbar">
                        <i class="icon fas fa-server"></i><span class="title">Vassaux</span>
                        <div class="btn-toolbar">
                            <a class="btn btn-light btn-sm" href="{% url "emperor:creer" %}">
                                <i class="fas fa-plus"></i>
                            </a>
                        </div>
                    </div>
                    <div class="list-group list-group-flush">
                        {% for v in vassals %}
                            <div class="list-group-item list-group-item-action vassal">
                                <a href="{% url "emperor:edit" v.id %}">
                                    {% if v.actif %}
                                        <i class="fas fa-check-circle text-success mr-3"></i>
                                    {% else %}
                                        <i class="fas fa-times-circle text-danger mr-3"></i>
                                    {% endif %}
                                    {{ v.nom|title }}
                                </a>
                                {% if v.actif %}
                                    <form class="btn-toolbar">
                                        <input type="hidden" name="vassal" value="{{ v.id }}" />
                                        <button class="btn btn-link" type="submit" name="action" value="reload">
                                            <i class="fas fa-redo-alt"></i>
                                        </button>
                                    </form>
                                {% endif %}
                            </div>
                        {% empty %}
                            <span class="list-group-item text-center font-italic">Aucun vassal existant !</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block jsscript %}
    <script src="{% static 'emperor/js/emperor.js' %}"></script>
{% endblock %}