// Importations
@import "theme";

// Theme
@include mat-core();
@include angular-material-theme($app-theme);

// Style
html, body {
  height: 100%;
}

body {
  margin: 0;

  color: map-get(map-get($app-theme, foreground), text);
  background: map-get(map-get($app-theme, background), background);

  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-icon {
  &.fab, &.fas, &.far {
    line-height: 24px;
  }
}