#debug-sql .progress-bar {
    min-width: 10px;
}

#debug-sql .sql-table {
    position: relative;

    overflow-y: auto;
}

#debug-sql .sql-table table {
    width: 100%;
    table-layout: fixed;

    border-top: none;
}

#debug-sql .sql-table thead {
    position: sticky;
    top: 0;
    z-index: 1010;

    background-color: #dee2e6;

    text-align: center;
}

#debug-sql .sql-table thead th {
    border: none;
}

#debug-sql .sql-table tbody tr {
    background-color: white;
}

#debug-sql .sql-table td:nth-child(2) {
    overflow: hidden;
}

#debug-sql .sql-table .couleur {
    width: 1rem;

    padding: 0;
}

#debug-sql .sql-table .duree {
    width: 150px;
}

/* Coloristation */
.sql * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.sql code {
    color: black;
}

.sql .keyword {
    font-weight: bold;
    color: #6A1B9A;
}

.sql .literal {
    color: #F9A825;
}

.sql .literal.string {
    color: #689F38;
}

.function > .identifier:first-child code {
    color: #1565C0;
}

/* Organisation */
.sql * {
    display: inline-block;
}

.sql:not(.etendu) {
    white-space: nowrap;
}

/* Espaces */
.sql .keyword,
.sql .comma {
    margin-right: .5rem;
}

.sql .keyword:not(:first-child),
.sql .operator {
    margin: 0 .5rem;
}

.sql .keyword + .keyword {
    margin-left: 0;
}

.sql .keyword:last-child {
    margin-right: 0;
}

/* Etendus */
.sql.etendu .keyword {
    display: block;

    margin-left: 0;
}

.sql.etendu .keyword + .identifier,
.sql.etendu .keyword + .identifier-list,
.sql.etendu .keyword + .parenthesis {
    margin-left: 1rem;
}

.sql.etendu .identifier > .keyword {
    display: inline-block;

    margin: 0 .5rem;
}

.sql.etendu .identifier > .keyword:first-child {
    margin-left: 0;
}

.sql.etendu .identifier > .keyword:last-child {
    margin-right: 0;
}

.sql.etendu .identifier > .keyword + .identifier {
    margin-left: 0;
}

.sql.etendu .parenthesis {
    display: flex;
    flex-wrap: wrap;

    padding-left: 1rem;
}

.sql.etendu .parenthesis > * {
    flex: 0 0 auto;

    margin-right: .5rem;
}

.sql.etendu .parenthesis > code {
    margin-top: auto;
}

.sql.etendu .parenthesis > .punctuation {
    position: relative;
    left: -1rem;

    flex: 0 0 100%;
}

.sql.etendu .function > .parenthesis {
    display: inline-block;

    margin-left: 0;
    padding-left: 0;
}

.sql.etendu .function > .parenthesis > * {
    margin-right: 0;
}

.sql.etendu .function > .parenthesis > .punctuation {
    position: static;
}

.sql.etendu .where {
    display: block;
}

.sql.etendu .where > *:not(:first-child) {
    margin-left: 1rem;
}