#debug-sql .progress-bar {
    min-width: 10px;
}

#debug-sql .sql-table {
    position: relative;

    overflow-y: auto;
}

#debug-sql .sql-table table {
    width: 100%;
    table-layout: fixed;

    border-top: none;
}

#debug-sql .sql-table thead {
    position: sticky;
    top: 0;
    z-index: 1010;

    background-color: #dee2e6;

    text-align: center;
}

#debug-sql .sql-table thead th {
    border: none;
}

#debug-sql .sql-table tbody tr {
    background-color: white;
}

#debug-sql .sql-table tbody tr:hover {
    filter: brightness(95%);
}

#debug-sql .sql-table tbody tr.reduit .sql {
    display: none;
}

#debug-sql .sql-table tbody tr:not(.reduit) .sql-reduit {
    display: none;
}

#debug-sql .sql-table td:nth-child(2) {
    overflow: hidden;
}

#debug-sql .sql-table .couleur {
    width: 1rem;

    padding: 0;
}

#debug-sql .sql-table .duree {
    width: 150px;
}

#debug-sql .sql-table .sql-reduit {
    width: 150px;
    white-space: nowrap;
}

#debug-sql .sql-table .sql code,
#debug-sql .sql-table .sql-reduit code {
    color: black;
}

#debug-sql .sql-table .sql div {
    margin-left: 1rem;
}

#debug-sql .sql-table .sql .keyword,
#debug-sql .sql-table .sql-reduit .keyword {
    font-weight: bold;
    color: #6A1B9A;
}

#debug-sql .sql-table .sql .literal,
#debug-sql .sql-table .sql-reduit .literal {
    color: #689F38;
}

#debug-sql .sql-table .sql-reduit div {
    display: inline-block;
}

#debug-sql .sql-table .sql-reduit .comma {
    margin-right: .5rem;
}

#debug-sql .sql-table .sql-reduit .keyword,
#debug-sql .sql-table .sql-reduit .operator {
    margin: 0 .5rem;
}

#debug-sql .sql-table .sql-reduit > .keyword:first-child {
    margin-left: 0;
}

#debug-sql .sql-table .sql .where {
    margin-left: 0;
}

#debug-sql .sql-table .sql .where > * {
    display: inline-block;
}

#debug-sql .sql-table .sql .where > *:not(.parenthesis) {
    margin-left: 0;
    margin-right: .5rem;
}

#debug-sql .sql-table .sql .identifier {
    display: inline-block;

    margin-left: 0;
}

#debug-sql .sql-table .sql .comma {
    margin-right: .5rem;
}

#debug-sql .sql-table .sql .operator {
    margin: 0 .5rem;
}

#debug-sql .sql-table .sql .keyword + .identifier {
    margin-left: .5rem;
}

#debug-sql .sql-table .sql .parenthesis {
    display: flex;
    flex-wrap: wrap;

    padding-left: 1rem;
}

#debug-sql .sql-table .sql .parenthesis > * {
    margin-right: .5rem;
}

#debug-sql .sql-table .sql .parenthesis > div {
    margin-left: 0;
}

#debug-sql .sql-table .sql .parenthesis > code {
    margin-top: auto;
}

#debug-sql .sql-table .sql .parenthesis > .punctuation {
    position: relative;
    left: -1rem;

    flex: 0 0 100%;

    margin-left: 0;
}