/*
 * contact-list.component.scss
 */

// Style
:host {
  display: block;
}

#data mat-card-header {
  button {
    position: relative;
    top: -.2rem;

    margin-left: auto;
    margin-bottom: .4rem;
  }
}