<li id="{% block id %}{% endblock %}" class="nav-item" data-toggle="tooltip" data-trigger="hover" data-placement="right" title="{{ item.tooltip|default:item.name }}">
    <a class="nav-link collapsed" data-toggle="collapse" href="#{{ item.menu }}">
        {% block contenu %}<i class="{{ item.icon }} fa-fw"></i><span>{{ item.name }}</span>{% endblock %}
    </a>
    <ul id="{{ item.menu }}" class="collapse">
        {% for item in item.items %}
            {% include item.template|default_if_none:"navbar/items/sidebar.html" %}
        {% endfor %}
    </ul>
</li>