<div class="text-center mt-3">
    <h1>Welcome to Admin !</h1>
</div>

<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Compte Google</mat-card-title>
        </mat-card-header>
        <mat-card-content>
                <mat-form-field>
                    <input matInput name="email" type="email" placeholder="email" required ngModel />
                </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button type="submit" [disabled]="f.invalid">AJOUTER</button>
        </mat-card-actions>
    </mat-card>
</form>