/*
 * _btn.scss
 */
@import "colors";

// Général
.btn, .btn-toggle, .switch {
  &:hover {
    filter: brightness(90%);
  }

  &:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem $focus-shadow;
  }
}

// Groupe
.btn-group > .btn-toggle {
  &:not(:first-child), &:not(:first-child) span {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &:not(:last-child), &:not(:last-child) span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

// Toggle
.btn-toggle {
  position: relative;

  margin: 0;
  border-radius: .25rem;

  background-color: var(--gray);

  span {
    position: relative;
    display: inline-block;

    padding: .375rem .75rem;
    border-radius: .25rem;

    color: var(--white);
  }

  input {
    display: none;

    &:checked + span {
      background-color: var(--primary);
    }
  }
}

// Switch
.switch {
  position: relative;
  height: 1.3rem;
  width: 2.6rem;

  margin: 0;
  border-radius: .65rem;

  cursor: pointer;

  .slider {
    position: absolute;
    height: 100%;
    width: 100%;

    padding: .15rem;
    border-radius: .65rem;

    background-color: var(--gray);
    transition: background-color 400ms;

    &::before {
      position: absolute;
      left: .15rem;

      height: 1rem;
      width: 1rem;

      border-radius: .5rem;

      content: "";
      background-color: white;
      transition: left 400ms;
    }
  }

  input {
    display: none;

    &:checked + .slider {
      background-color: var(--primary);

      &::before {
        left: 1.45rem;
      }
    }
  }
}