/*
 * _colors.scss
 */

// Colors
$light_color: #dee2e6;
$focus-shadow: rgba(0, 123, 255, 0.25);

// Pastels
$pastels: (
    #f44336,
    #9c27b0,
    #3f51b5,
    #2196f3,
    #4caf50,
    #ffc107
);

// Navbar
$navbar-color: #868e96;
$navbar-color-hover: #adb5bd;
$navbar-background: #212529;

@for $i from 1 through length($pastels) {
  .bg-pastels:nth-child(#{length($pastels)}n+#{$i}), .bg-pastels-#{$i} {
    background-color: nth($pastels, $i);

    &:hover {
      filter: brightness(90%);
    }
  }
}