/*
 * _panels.scss
 */

// Style
#panel-overlay {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  z-index: 1000;

  height: 100%;
  width: 100%;

  &.show {
    display: block;
  }
}

.panel {
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1000;

  height: 100%;
  max-width: 90%;

  background-color: #212529;
  border: solid #212529 5px;

  transition: bottom 750ms ease;

  &.show {
    bottom: 0;
    z-index: 1010;
  }
}