/*
 * _slider.scss
 */

// Style
.slider {
  position: relative;
  overflow: hidden;

  &> span {
    position: relative;
    white-space: nowrap;

    transition: linear right 500ms;

    &:not(:hover) {
      right: 0 !important;
    }
  }
}