/*
 * _toasts.scss
 */

// Style
#toasts-panel {
    min-width: 300px;
    max-width: 40%;

  .toasts .alert:last-child {
    margin-bottom: 0;
  }
}

#toasts-preview {
  position: absolute;
  display: flex;
  top: 1rem;
  right: 1rem;
  z-index: -1;

  min-width: 300px;
  max-width: 40%;

  padding-right: .75rem;

  transition: opacity 150ms linear, z-index 0ms linear 150ms;

  &.show {
    z-index: 1020;

    transition: opacity 150ms linear;
  }

  & > span {
    display: inline-block;
    width: calc(100% - 27px);

    padding-right: .5rem;
  }

  & > button {
    flex: 0 0 auto;
    margin-bottom: auto;

    border: none;
    background: transparent;

    color: inherit;
  }
}