/*
 * sidebar-link.component.scss
 */

// Style
a {
  display: flex;

  cursor: pointer;
  padding: .6rem;

  &.sidebar-active {
    cursor: default;
  }

  fa-icon {
    font-size: 18px;
  }

  span {
    flex: 1;

    margin-left: .6rem;
  }
}