<div id="logout-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Prêt à partir ?</h5>
        <button class="close" type="button" data-dismiss="modal"><i class="fas fa-times"></i></button>
      </div>
      <div class="modal-body">Cliquez sur "Déconnexion" si vous êtes prêt à partir.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
        <a class="btn btn-primary" href="{% url 'logout' %}">Déconnexion</a>
      </div>
    </div>
  </div>
</div>