@import "card.css";
@import "btn.css";

@import "navbar.css";

/* Contenu */
.content-wrapper {
    position: relative;

    overflow: hidden;
}

.content {
    position: relative;
    height: 100%;

    overflow: auto;
}

.content > .container-fluid {
    margin-top: 1rem;
}

header {
    padding: 1rem 1.5rem 1.25rem;
}

.template {
    display: none;
}

.bignum {
    font-size: 5rem;
    line-height: 5rem;
}

/* Panels */
#panel-overlay {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    z-index: 1000;

    height: 100%;
    width: 100%;
}

#panel-overlay.show {
    display: block;
}

.panel {
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 1000;

    height: 100%;
    max-width: 90%;

    background-color: #212529;
    border: solid #212529 5px;

    transition: bottom 750ms ease;
}

.panel.show {
    bottom: 0;
    z-index: 1010;
}

/* Pastels */
.bg-pastels:hover,
.bg-pastels-1:hover,
.bg-pastels-2:hover,
.bg-pastels-3:hover,
.bg-pastels-4:hover,
.bg-pastels-5:hover,
.bg-pastels-6:hover,
.bg-pastels-7:hover {
    filter: brightness(90%);
}

.bg-pastels:nth-child(7n+1), .bg-pastels-1 {
    background-color: #f44336;
}

.bg-pastels:nth-child(7n+2), .bg-pastels-2 {
    background-color: #9c27b0;
}

.bg-pastels:nth-child(7n+3), .bg-pastels-3 {
    background-color: #3f51b5;
}

.bg-pastels:nth-child(7n+4), .bg-pastels-4 {
    background-color: #2196f3;
}

.bg-pastels:nth-child(7n+5), .bg-pastels-5 {
    background-color: #4caf50;
}

.bg-pastels:nth-child(7n+6), .bg-pastels-6 {
    background-color: #ffc107;
}

.bg-pastels:nth-child(7n), .bg-pastels-7 {
    background-color: #4e342e;
}