{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Métadonnées -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

    <title>Base</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'vendor/fontawesome/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" />
</head>
<body class="bg-dark">
    <!-- Contenu -->
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-auto mx-auto">
                <div class="card">
                    <div class="card-header"><i class="fas fa-key mr-3"></i>Connexion</div>
                    <form class="card-body text-center" method="post" action="{% url 'login' %}">
                        {% csrf_token %}

                        {% if erreur %}
                            <p class="text-danger">Erreur d'authentification</p>
                        {% endif %}

                        <fieldset class="form-group">
                            <input class="form-control text-left {% if erreur %}is-invalid{% endif %}" type="text" name="username" placeholder="Pseudo" />
                        </fieldset>

                        <fieldset class="form-group">
                            <input class="form-control text-left {% if erreur %}is-invalid{% endif %}" type="password" name="password" placeholder="Mot de passe" />
                        </fieldset>

                        <button class="btn btn-success mx-auto" type="submit">Connexion</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- JS -->
    <script src="{% static 'vendor/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'vendor/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>
