/*
 * _variables.scss
 */

// Navbar
$navbar_height: 56px;

// Sidebar
$sidebar-anim:  250ms;
$sidebar-width: 300px;

$mini-sidebar-width:  calc(24px + 1.5rem);
$mini-sidebar-height: calc(24px + 1rem);