/*
 * navbar-theme.scss
 *
 * Navbar Theme !
 */

// Importations
@import '~@angular/material/theming';
@import "~src/utils";

// Variables
$sidebar-anim:  250ms;
$sidebar-width: 300px;
$mini-sidebar-width:  calc(24px + 1.5rem);
$mini-sidebar-height: calc(24px + 1rem);

// Theme mixin
@mixin navbar-theme($theme) {
  // Variables
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $primary:    map-get($theme, primary);

  // Style
  app-navbar-layout {
    min-height: 100vh;
  }

  app-navbar {
    @include mat-apply-color($primary, 500);

    .navbar-brand a {
      color: mat-contrast($primary, 500);

      &.active:hover {
        cursor: default;
        text-decoration: none;
      }
    }
  }

  app-sidebar {
    background-color: mat-color($background, dialog);
    color: mat-color($foreground, text);

    a, a:hover {
      color: mat-color($foreground, text);
    }
  }

  .sidebar-toggler-icon span {
    background-color: mat-contrast($primary, 500);
  }

  .sidebar-active {
    border-right: solid .325rem mat-color($primary, 500);
  }
}