<!-- Templates -->
<ng-template #sidebarMenu let-items>
    <ul class="nav">
        <ng-template ngFor let-item [ngForOf]="items">
            <li *ngIf="(item | navitemismenu); else notMenu"
                class="nav-item" [ngClass]="{'menu-collapsed': item.collapsed }" [attr.aria-label]="item.name">

                <a class="nav-link" type="button" mat-ripple
                   (click)="item.collapsed = !item.collapsed; sidebarCollapsed = false"
                   [matTooltip]="item.name" [matTooltipPosition]="'right'" [matTooltipDisabled]="reduced || !sidebarCollapsed">

                    <fa-icon [icon]="item.icon" [attr.aria-label]="item.name"></fa-icon>
                    <span>{{ item.name }}</span>
                    <fa-icon class="menu-status" icon="fa-angle-up"></fa-icon>
                </a>
                <div class="sidebar-hover"></div>

                <ng-container *ngTemplateOutlet="sidebarMenu; context: { $implicit: item.items }"></ng-container>
            </li>

            <ng-template #notMenu>
                <li class="nav-item" [attr.aria-label]="item.name">
                    <a *ngIf="item.link_href; else sidebarNotHref"
                       class="nav-link" [href]="item.link" mat-ripple
                       [matTooltip]="item.name" [matTooltipPosition]="'right'" [matTooltipDisabled]="reduced || !sidebarCollapsed">

                        <mat-icon [fontIcon]="item.icon" [attr.aria-label]="item.name"></mat-icon>
                        <span>{{ item.name }}</span>
                    </a>

                    <ng-template #sidebarNotHref>
                        <a class="nav-link" mat-ripple
                           [routerLink]="item.link" routerLinkActive="active" [routerLinkActiveOptions]="item.link_options"
                           [matTooltip]="item.name" [matTooltipPosition]="'right'" [matTooltipDisabled]="reduced || !sidebarCollapsed">

                            <fa-icon [icon]="item.icon" [attr.aria-label]="item.name"></fa-icon>
                            <span>{{ item.name }}</span>
                        </a>
                    </ng-template>

                    <div class="sidebar-hover"></div>
                </li>
            </ng-template>
        </ng-template>
    </ul>
</ng-template>

<!-- Navbar -->
<nav class="navbar mat-elevation-z6" [ngClass]="{'navbar-reduced': reduced, 'navbar-collapsed': collapsed}">
    <!-- Toogler -->
    <button class="navbar-toggler" type="button" mat-button
            *ngIf="reduced" [ngClass]="{'collapsed': collapsed}" (click)="collapsed = !collapsed"
            aria-label="Toggle navigation" [attr.aria-expanded]="!collapsed">
        <span></span><span></span><span></span>
    </button>

    <!-- Brand -->
    <span class="navbar-brand">
        <a [routerLink]="brandLink" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{ brand }}</a>
    </span>

    <!-- Items -->
    <ul class="nav">
        <li class="nav-item" *ngFor="let item of items | navitemfilter: 'top':(reduced ? true : undefined)" [attr.aria-label]="item.name">
            <a *ngIf="item.link_href; else notHref"
               class="nav-link" [href]="item.link" mat-button
               [matTooltip]="item.name" [matTooltipPosition]="'below'">

                <fa-icon [icon]="item.icon" [attr.aria-label]="item.name"></fa-icon>
            </a>

            <ng-template #notHref>
                <button class="nav-link" type="button" mat-button
                        [routerLink]="item.link" routerLinkActive="active" [routerLinkActiveOptions]="item.link_options"
                        [matTooltip]="item.name" [matTooltipPosition]="'below'">
                    <fa-icon [icon]="item.icon" [attr.aria-label]="item.name"></fa-icon>
                </button>
            </ng-template>
        </li>
    </ul>

    <!-- Sidebar -->
    <div class="sidebar mat-elevation-z4" [ngClass]="{'sidebar-collapsed': sidebarCollapsed}">
        <div>
            <ng-container *ngTemplateOutlet="sidebarMenu; context:{ $implicit: items | navitemfilter: (reduced ? ['sidebar', 'top'] : 'sidebar'):false }"></ng-container>
        </div>

        <button class="sidebar-toggle" mat-button *ngIf="!reduced"
            (click)="sidebarCollapsed = !sidebarCollapsed">
            <fa-icon icon="fa-angle-left"></fa-icon>
        </button>
    </div>
</nav>

<div class="content-wrapper" [ngClass]="{'sidebar-collapsed': sidebarCollapsed}">
    <ng-content></ng-content>
</div>