@import "objets.css";

/* Bouton de retour */
#btn-retour {
    position: absolute;
    height: calc(100% - 1rem);
    z-index: 0;

    transition: filter 500ms;
}

#btn-retour + .breadcrumb {
    position: relative;
    z-index: 1;

    transition: margin-left 500ms;
}

#btn-retour.actif + .breadcrumb {
    margin-left: 3.5rem;
}

/* Breadcrumbs */
@keyframes breadcrumb-appear {
    from {
        margin-left: calc(-100% - .5rem);
    }
    to {
        margin-left: 0;
    }
}
@keyframes breadcrumb-disappear {
    from {
        margin-left: 0;
    }
    to {
        margin-left: calc(-100% - .5rem);
    }
}

.breadcrumb-item {
    display: flex;

    transition: color 500ms;
}

.breadcrumb-item > div {
    display: inline-block;
    overflow: hidden;
}

.breadcrumb-item .text {
    animation: breadcrumb-appear 500ms 1;
}

.breadcrumb-item.removing .text {
    animation: breadcrumb-disappear 500ms 1;
}

/* Zone fichiers */
#fichiers {
    display: flex;
    flex-wrap: wrap;

    padding-right: 3px;
}

/* Outils */
#outils .list-group-item i {
    margin-right: .75rem;
}