<nav id="main-nav" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand mr-1" href="{% url 'index' %}">Admin</a>

    <!-- Panels -->
    <ul class="navbar-nav ml-auto panelbar">
        {% for item in navbar.panels %}
            {% include item.template|default_if_none:"navbar/items/panel.html" %}
        {% endfor %}
    </ul>

    <!-- Collapse btn -->
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar-responsive">
        <span></span><span></span><span></span>
    </button>

    <!-- Liens reductibles -->
    <div id="navbar-responsive" class="collapse navbar-collapse flex-grow-0">
        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">
            {% for item in navbar.sidebar %}
                {% include item.template|default_if_none:"navbar/items/sidebar.html" %}
            {% endfor %}
        </ul>

        <button class="btn btn-link sidebar-toggler">
            <i class="fas fa-angle-left"></i>
        </button>

        <!-- Top links -->
        <ul class="navbar-nav ml-auto">
            {% for item in navbar.top_links %}
                {% include item.template|default_if_none:"navbar/items/top.html" %}
            {% endfor %}
        </ul>
    </div>
</nav>