{% extends "main/base.html" %}

{% load i18n static %}

{# Head #}
    {# Meta #}
    {% block meta %}
        {% block extrahead %}{% endblock %}
        {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
    {% endblock %}

    {# CSS #}
    {% block css %}
        <link rel="stylesheet" href="/static/admin/base.css" />
    {% endblock %}

{# Body #}
    {% block bodycls %}{% block bodyclass %}{% endblock %}{% endblock %}
    {% block bodyattr %}data-admin-utc-offset="{% now "Z" %}"{% endblock %}

    {# Context-Wrapper #}
    {% block contenu %}
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    {% block pretitle %}{% endblock %}
                </div>
            </div>

            {% block breadcrumbs %}
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
                </ol>
            {% endblock %}

            {% block structure %}
                <section class="row">
                    <article class="col-md-8">
                        {% block content %}
                            {% block object-tools %}{% endblock %}
                            {{ content }}
                        {% endblock %}
                    </article>

                    <aside class="col-md-4">
                        {% block sidebar %}{% endblock %}
                    </aside>
                </section>
            {% endblock %}
        </div>

        {% block footer %}<div id="footer"></div>{% endblock %}
    {% endblock %}