{% load i18n static %}

{% if cl.search_fields %}
<div id="toolbar">
    <form id="changelist-search" method="get">
        <div class="form-group row mb-0">
            <!-- DIV needed for valid HTML -->
            <label class="col-auto my-auto" for="searchbar"><i class="fas fa-search"></i></label>

            <div class="col input-group input-group-sm pl-0">
                <input id="searchbar" class="form-control" type="text" size="40"
                       name="{{ search_var }}" value="{{ cl.query }}" autofocus>

                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">{% trans 'Search' %}</button>
                </div>
            </div>

            {% if show_result_count %}
                <span class="col-auto my-auto small quiet">{% blocktrans count counter=cl.result_count %}{{ counter }} result{% plural %}{{ counter }} results{% endblocktrans %} (<a href="?{% if cl.is_popup %}_popup=1{% endif %}">{% if cl.show_full_result_count %}{% blocktrans with full_result_count=cl.full_result_count %}{{ full_result_count }} total{% endblocktrans %}{% else %}{% trans "Show all" %}{% endif %}</a>)</span>
            {% endif %}
        </div>

        {% for pair in cl.params.items %}
            {% if pair.0 != search_var %}<input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}">{% endif %}
        {% endfor %}
    </form>
</div>
{% endif %}
