{% load i18n admin_urls %}

<div class="submit-row d-flex">
    {% block submit-row %}
        {% if show_delete_link %}
            {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}

            <a class="btn btn-danger ml-1 mr-auto" href="{% add_preserved_filters delete_url %}">{% trans "Delete" %}</a>
        {% endif %}
        {% if show_save %}
            <button class="btn btn-primary mx-1" type="submit" name="_save">{% trans 'Save' %}</button>
        {% endif %}
        {% if show_save_as_new %}
            <button class="btn btn-secondary mx-1" type="submit" name="_saveasnew">{% trans 'Save as new' %}</button>
        {% endif %}
        {% if show_save_and_add_another %}
            <button class="btn btn-secondary mx-1" type="submit" name="_addanother">{% trans 'Save and add another' %}</button>
        {% endif %}
        {% if show_save_and_continue %}
            <button class="btn btn-secondary mx-1" type="submit" name="_continue">
                {% if can_change %}
                    {% trans 'Save and continue editing' %}
                {% else %}
                    {% trans 'Save and view' %}
                {% endif %}
            </button>
        {% endif %}
        {% if show_close %}
            <a class="btn btn-secondary mx-1" href="{% url opts|admin_urlname:'changelist' %}">
                {% trans 'Close' %}
            </a>
        {% endif %}
    {% endblock %}
</div>
