{% load debug %}
{% context as ctx %}

<div class="mx-3 my-3">
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center">Nom</th>
            <th class="text-center">Valeur</th>
        </tr>
    </thead>
    <tbody>
        {% for c in ctx %}
            {% for n, v in c.items %}
                {% if n != "ctx" %}
                    <tr>
                        <td>{{ n }}</td>
                        <td><code>{{ v }}</code></td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
</div>