<div id="terminal-panel" class="panel">
    <!-- Toolbar -->
    <div id="terminal-toolbar">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" role="tab"
                    data-toggle="tab" href="#terminal-1">
                    <span>Terminal</span><i class="fas fa-times"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" role="tab"
                    data-toggle="tab" href="#terminal-2">
                    <span>Terminal</span><i class="fas fa-times"></i>
                </a>
            </li>
        </ul>

        <div class="toolbar" role="toolbar">
            <div class="btn-toolbar">
                <button class="btn btn-link">
                    <i class="fas fa-paint-brush"></i>
                </button>
            </div>
        </div>
    </div>

    <!-- Terminal -->
    <div id="terminal-tabs" class="tab-content">
        <div id="terminal-1" class="tab-pane show active terminal" role="tabpanel">
            <pre>
<code></code>
<code></code>
<code>                        ##         .</code>
<code>                  ## ## ##        ==</code>
<code>               ## ## ## ## ##    ===</code>
<code>           /"""""""""""""""""\___/ ===</code>
<code>      ~~~ {~~ ~~~~ ~~~ ~~~~ ~~~ ~ /  ===- ~~~</code>
<code>           \______ o           __/</code>
<code>             \    \         __/</code>
<code>              \____\_______/</code>
<code></code>
<code><span class="bleu">docker</span> is configured to use the <span class="vert">default</span> machine with IP <span class="vert">192.168.99.100</span></code>
<code>For help getting started, check out the docs at https://docs.docker.com</code>
<code></code>
<code></code>
<code>Start interactive shell</code>
<code></code>
<code><span class="vert">julie@DESKTOP-G295JDF</span> <span class="violet">MINGW64</span> <span class="jaune">/c/Program Files/Docker Toolbox</span></code>
<code>$</code>
            </pre>
        </div>
        <div id="terminal-2" class="tab-pane show active h-100" role="tabpanel">
        </div>
    </div>
</div>