{% load debug static %}

<div id="debug-uwsgi" class="mx-3 my-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-auto bignum">4</div>
            <div class="col">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">Processus</div>
                    </div>
                    <div class="row">
                        <div class="col-2">Buffer :</div>
                        <div class="col">44 Ko</div>
                    </div>
                    <div class="row">
                        <div class="col-2">Master :</div>
                        <div class="col">2252</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>